In [3]:
# import neccessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.feature_selection import RFE, SelectKBest, f_classif
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LinearRegression
import os 
import warnings
warnings.filterwarnings('ignore')

In [4]:
def load_index_data(original_file_name):
    index_data_dir = os.path.join(os.getcwd(), 'data', 'index_data')
    original_file = pd.read_excel(os.path.join(index_data_dir, original_file_name))
    return original_file

In [9]:
original_file = load_index_data('CRSP Daily Stock Market Indexes - Level of the S&P 500 Index.xlsx')
original_file

           Date  Level of the S&P 500 Index
0    2007-01-03                 1416.599976
1    2007-01-04                 1418.339966
2    2007-01-05                 1409.709961
3    2007-01-08                 1412.839966
4    2007-01-09                 1412.109985
...         ...                         ...
4023 2022-12-23                 3844.820068
4024 2022-12-27                 3829.250000
4025 2022-12-28                 3783.219971
4026 2022-12-29                 3849.280029
4027 2022-12-30                 3839.500000

[4028 rows x 2 columns]

In [19]:
def EMA_dataFrame(spans):
    result_df = pd.DataFrame()
    for span in spans:
        result_df[f'EMA {span}'] = original_file['Level of the S&P 500 Index'].ewm(span=span, adjust=False).mean()
    return result_df

In [20]:
spans = [5, 10, 20, 50, 200]
EMA_dataFrame(spans)

            EMA 5       EMA 10       EMA 20       EMA 50      EMA 200
0     1416.599976  1416.599976  1416.599976  1416.599976  1416.599976
1     1417.179972  1416.916337  1416.765689  1416.668210  1416.617289
2     1414.689969  1415.606087  1416.093715  1416.395338  1416.548559
3     1414.073301  1415.103156  1415.783834  1416.255912  1416.511658
4     1413.418862  1414.558943  1415.433944  1416.093326  1416.467860
...           ...          ...          ...          ...          ...
4023  3851.036970  3879.204498  3907.472972  3903.289385  4006.711737
4024  3843.774647  3870.121862  3900.023165  3900.385879  4004.945949
4025  3823.589755  3854.321518  3888.899051  3895.791138  4002.739720
4026  3832.153180  3853.404884  3885.125811  3893.967173  4001.212758
4027  3834.602120  3850.876723  3880.780496  3891.831205  3999.603676

[4028 rows x 5 columns]